# coding: utf-8
<!-- footer -->
<div id="footer">
  <div class="bx">
    <ul class="footer_nav fl">
      <li><a href="/">首页</a></li>
      <li><a href="/cases">案例作品</a></li>
      <li><a href="/about_us">关于我们</a></li>
      <li><a href="/contact">联系我们</a></li>
      <li ><a href="/news">行业动态</a></li>
    </ul>
    <p class="fl">沪ICP备16000036号</p>
    <p class="fr">
      上海出未创意设计机构版权所有
    </p>
  </div>
</div>
<!-- footer -->
