<!-- header开始 -->
<div id="header">
	<div class="bx">
    <div class="header_right fr">
      <div class="Search">
        <input type="text" / value=""class="fl input_text">
        <input type="button" / class="fl input_button">
        <div class="fl Search_right">
        	<a href="">中文</a>|<a href="">EN</a>
        </div>
        <span class="fl span1">上海三意品牌设计机构&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询热线：156 0187 8272</span>
      </div>
    </div>
    
		<div class="logo fl">
			三意
		</div>
    <div class="nav fr">
      <ul>
        <li class="npl"><a href="/">首页</a></li>
        <li><a href="/cases">案例作品</a></li>
        <li><a href="/partner">关于我们</a></li>
        <li><a href="/contact">联系我们</a></li>
        <li class="npr"><a href="" >微博</a></li>
      </ul>
    </div>
	</div>
</div>
<!--结束  -->
