<!-- left menu starts -->
<div class="span2 main-menu-span">
  <div class="well nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li class="nav-header hidden-tablet">主管理</li>
      <li class="<%= menu_active('project_categories') %>" style="margin-left: -2px;">
        <a class="ajax-link" href="/admin/project_categories"><i class="icon-eye-open"></i><span class="hidden-tablet"> 分类管理</span></a>
      </li>
      <li class="<%= menu_active('projects')%>" style="margin-left: -2px;">
        <a class="ajax-link" href="/admin/projects"><i class="icon-home"></i><span class="hidden-tablet">案例管理</span></a>
      </li>
      <li class="<%= menu_active('project_photos') %>" style="margin-left: -2px;">
        <a class="ajax-link" href="/admin/projects"><i class="icon-edit"></i><span class="hidden-tablet">案例图片管理</span></a>
      </li>
      <li style="margin-left: -2px;">
        <a class="ajax-link" href="javascript:;"><i class="icon-font"></i><span class="hidden-tablet"> 其它管理</span></a>
      </li>
      <li style="margin-left: -2px;">
        <a class="ajax-link" href="javascript:;"><i class="icon-picture"></i><span class="hidden-tablet"> 其它管理</span></a>
      </li>
    </ul>
  </div>
</div>
<!-- left menu ends -->
