# coding: utf-8
<%= content_for :head do %>
<link rel="stylesheet" type="text/css" href="/assets/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/base.css">
<link rel="stylesheet" type="text/css" href="/assets/global.css">
<link rel="stylesheet" type="text/css" href="/assets/list.css">
<link rel="stylesheet" type="text/css" href="/assets/page.css">
<script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<% end %>
<div id="content">
  <div class="bx">
   	<div class="content_nav">
   	 	<ul class="fl">
   	 		<li class="no1"><a href="/about_us">关于我们</a></li>
   	 		<li><a href="/service_mode">服务内容</a></li>
   	 		<li><a href="/cooperate">合作方式</a></li>
   	 		<li><a href="/team">作业团队</a></li>
   	 	</ul> 
   	 	<span class="fk fr">
   	 	</span>
   	</div>
   	<div class="page_inner">
   	 	<h1>你在寻找一个靠谱的设计合作伙伴？</h1>
   	 	<p>设计合作伙伴？对，应该是设计合作伙伴，而不是设计供应商。供应商只是商，伙伴却可以同舟共济并肩作战！设计公司太多了，在百度或google一下“品牌设计”出来那么多家。他们说他们很牛，他们是国际领先的，亚洲级的，中国顶尖的，全国十强的等等。看起来他们真的很牛很牛。很不好意思，我们没有这些Title，但你可以通过下面信息看到一个真实的新创意……</p>
   	 	<h3>我们很小，和中小企业一起成长，但也能服务世界500强的企业</h3>
   	 	<p>我们是一家小公司，客户很多都是中小企业，从上海、广州等地的高科技成长型企业到长三角一带正在创建自己品牌的外向型企业。 但同时我们也能服务世界500强企业海尔、上海通用别克等客户。</p>
   	 	<h3>我们用创意的概念解决你遇到的生意的问题和挑战</h3>
   	 	<p>品牌策略与设计、标志设计、VI设计、平面印刷品设计，专卖店商业空间设计、网站设计等等，这些我们都可以做。但是我们不局限在这个上面。如果可以更大范围帮助客户的生意解决他们的问题，那我们为什么不可以建议客户走不一样的商业模式，帮助寻找更有力的产品概念，协助开创新的营销渠道？如果这些都是客户生意挑战和问题的话。</p>
   	 	<h3>你将得到高性价比的解决方案</h3>
   	 	<p>设计公司太多了，百度一下“品牌设计”，你会发现很多诸如“国际领先的、亚洲级的、中国顶尖的、全国十佳”的公司。我们不喜欢用这样的词汇来形容自己，实力靠服务品质来体现，品质靠客户口碑来见证。我们也相信明智的客户不买贵的，只选对的。不谈价格，只谈价值。我们的价格不是最低廉的，但是你会发现每一分投资都将和我们给你带来的优秀方案相匹配。</p>
   	 	<h3>我们在上海，但是也可以服务外地的客户</h3>
   	 	<p>深圳、广州、苏州、江西、浙江等等地区都有我们的客户，加拿大、俄罗斯、德国、美国的客户也和我们合作过，甚至于我们还收到过来台湾的设计委托。现在交通、通信、网络这么发达，只要我们都投入一份信任，距离就不是问题。</p>
   	 	<h3>我们都是年轻人但同时也有着丰富的实战经验</h3>
   	 	<p>我们都是具有崭新思维、国际视野的年轻人，除了具有设计方面的专业能力同时也有IT专业、历史专业或经济专业等相关背景。经验丰富、细致耐心、沟通效率高、反应敏捷、高效送出高品质的方案。我们没有业务员，客户都来自于网络或者朋友介绍及客户口碑。项目合作的过程中你将直接与设计师沟通，减少信息传递与臆测而造成的缺失与歧义，工作效率、作品效能都更能令人满意。</p>
   	 	<h3>前期深入了解沟通，然后签订合约、支付预付款才开始正式的合作</h3>
   	 	<p>我们前期深入了解沟通，你的问题、需求、背景完全告诉我们，同时你也了解一下我们的专业能力、相关作品经验及基本的报价。接下来我们明确项目的内容、范围、服务、周期和价格，签订合约，依照不同的项目支付不定额度的预付款才开始正式的合作。 </p>
   	 	<h3>我们很简单，我们爱学习</h3>
   	 	<p>简单做人，用心做事。但是不意味着我们不懂为人处事，我们只是更愿意从简从真精诚合作。
				我们也相信只有不遗余力的去学习、去总结、去实践，我们才能有更好的创意来为我们的客户服务。
			</p>
			<h3>我们欢迎任何形式的合作</h3>
			<p>如果你有一个设计项目，正在寻找合适的公司外包，或者寻找合适的团队一起协作完成，你可以马上联系我们，或许对你来说是一个很好的选择。如果你是市场调研、策划；商业、展示空间；多媒体、网络与技术；工业设计；插画；摄影；影视广告；制作等方面的专业工作室、机构或者个人，我们也乐意与你建立联系与链接，如有相关的项目与需求，我们将第一时间和你联络。</p>
   	</div>
  </div>
</div>
<div class="cl h35"></div>
