# coding: utf-8
<%= content_for :head do %>
<link rel="stylesheet" type="text/css" href="/assets/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/base.css">
<link rel="stylesheet" type="text/css" href="/assets/global.css">
<link rel="stylesheet" type="text/css" href="/assets/Contact_us.css">
<% end %>
<div class="bx">
  <div id="content">
   	<div class="contact fl">
   	 	<div class="img fl"></div>
   	 	<div class="address fl">
   	 	 	<p>地址：中国·上海·闵行区·浦涛路768弄25号704</p>
   	 	 	<p>电话：156-0187-8272</p>
   	 	 	<p>邮箱：532133789@qq.com</p>
   	 	 	<p>QQ：532133789</p>
   	 	 	<p>网址：www.sanyi.com</p>
   	 	</div>
   	</div>
   	<div class="fl Contact_Us">
   	 	<h5>Contact Us</h5>
   	 	<div>姓名<input type="text"></div>
      <div>电话<input type="text"></div>
   	 	<div>邮箱<input type="text"></div>
   	 	<div>主题<input type="text"></div>
   	 	<textarea class="ly" clols="275" rows="97"></textarea>
   	 	<br>
   	 	<input class="button" type="button" value="提交">
   	</div>
  </div>
</div>
<div class="cl h315"></div>
