# coding: utf-8
<%= content_for :head do %>
<link rel="stylesheet" type="text/css" href="/assets/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/base.css">
<link rel="stylesheet" type="text/css" href="/assets/global.css">
<link rel="stylesheet" type="text/css" href="/assets/list.css">
<link rel="stylesheet" type="text/css" href="/assets/cooperate.css">
<script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<% end %>
<div id="content">
  <div class="bx">
   	<div class="content_nav">
   	 	<ul class="fl">
   	 		<li><a href="/about_us">关于我们</a></li>
   	 		<li><a href="/service_mode">服务内容</a></li>
   	 		<li class="no1"><a href="/cooperate">合作方式</a></li>
   	 		<li><a href="/team">作业团队</a></li>
   	 	</ul> 
   	 	<span class="fk fr">
   	 	</span>
   	</div>
   	<div class="cooperate">
   	 	<div class="service">
   	 		<h3>合作方式 / Service</h3>
   	 		<span>&gt; 方案1、年费方式/设计管理</span>
   	 		<p>根据全年常规设计管理工作任务量，签定全年合同，进行月度结算或双月份结算服务佣金。</p>
   	 		<span>&gt; 方案2、项目打包/整体结算</span>
   	 		<p>根据产品上市或更新设计任务工作量，如包装、推广物料、终端店面、媒体广告等进行打报设计和结算。</p>
   	 		<span>&gt; 方案3、单项设计/单项结算</span>
   	 		<p>针对某一具体的设计需求委托，如画册、海报、包装、专卖店等进行设计和结算。</p>
   		</div>
   		<div class="service_bottom">
   	 	  <dl class="bottom_1">
          <dt>明确设计需求</dt>
          <dd><a href="">业务咨询</a></dd>
          <dd><a href="">双方沟通</a></dd>
          <dd><a href="">了解项目</a></dd>
        </dl>
        <dl class="bottom_2">
          <dt>签约合同</dt>
          <dd><a href="">达成共识</a></dd>
          <dd><a href="">付预付款</a></dd>
        </dl>
        <dl class="bottom_3">
          <dt>沟通调整</dt>
          <dd><a href="">评审提案</a></dd>
          <dd><a href="">沟通修改</a></dd>
          <dd><a href="">细节调整</a></dd>
        </dl>
        <dl class="bottom_4">
          <dt>品牌跟踪</dt>
          <dd><a href="">后续延伸服务</a></dd>
          <dd><a href="">视觉拓展</a></dd>
        </dl>
        <dl class="bottom_5">
          <dt>商务沟通</dt>
          <dd><a href="">视觉策略</a></dd>
          <dd><a href="">分享资料</a></dd>
          <dd><a href="">探讨思路</a></dd>
          <dd><a href="">进行报价</a></dd>
        </dl>
        <dl class="bottom_6">
          <dt>设计执行</dt>
          <dd><a href="">视觉规划</a></dd>
          <dd><a href="">设计创作</a></dd>
          <dd><a href="">初步方案</a></dd>
          <dd><a href="">收取进度款</a></dd>
        </dl>
        <dl class="bottom_7">
          <dt>项目验收</dt>
          <dd><a href="">综合分析</a></dd>
          <dd><a href="">项目定位</a></dd>
          <dd><a href="">提交完案</a></dd>
          <dd><a href="">支付尾款</a></dd>
        </dl>
   		</div>
   	</div>
  </div>
</div>
