# coding: utf-8
<%= content_for :head do %>
   <%= stylesheet_link_tag    'reset', 'base', 'global', 'index', media: 'all',
     'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<% end %>
<div id="banner">
  <div id="chuantong">
    <ul class="tuul">
      <li><a href="#"><img src="/assets/banner_01.png" /></a></li>
      <li><a href="#"><img src="/assets/banner_1.png" /></a></li>
      <li><a href="#"><img src="/assets/banner_2.png" /></a></li>
      <li><a href="#"><img src="/assets/banner_3.png" /></a></li>
    </ul>
    <div class="anniu">
      <span class="leftbut"></span>
      <span class="rightbut"></span>
    </div>
    <ul class="dianul">
      <li class="cur"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<!-- 轮播 -->
<script type="text/javascript">
  chuantong(3000,400,1024);
</script>
<!-- 轮播结束 -->
<div class="cl h25"></div>
<!-- 内容 -->
<div class="bx">
  <div id="content">
    <div class="content_top">
      <ul>
        <li onclick="window.location='/project_categories/1'" >
          <h4 class="h4_1"><a href="/project_categories/1">LOGO设计</a></h4>
        </li>
        <li class="top_1" onclick="window.location='/project_categories/2'">
          <h4 class="h4_2"><a href="/project_categories/2">包装设计</a></h4>
        </li>
        <li onclick="window.location='/project_categories/3'">
          <h4 class="h4_3"><a href="/project_categories/3">品牌推广</a></h4>
        </li>
        <li class="top_1" onclick="window.location='/project_categories/4'">
          <h4 class="h4_4"><a href="/project_categories/4">商业空间</a></h4>
        </li>
        <li onclick="window.location='/project_categories/5'">
          <h4 class="h4_5"><a href="/project_categories/5">房地产整合</a></h4>
        </li>
        <li class="top_2" onclick="window.location='/project_categories/6'">
          <h4 class="h4_6"><a href="/project_categories/6">活动与招商</a></h4>
        </li>
      </ul>
    </div>
    <div class="cl h37"></div>
    <div class="inner">
      <div class="inner_news fl">
        <a href="">>>出未创意设计最新新闻</a>
        <ul>
          <li>2013年，出未创意设计为上海武峰吊顶全案品牌服务</li>
          <li>2013年，出未创意设计为宏标御安府做全案房地产整合</li>
          <li>2011年，出未创意设计与苏州馨可丽家居品牌合作</li>
          <li>2010年，出未创意设计与太原恒大地产签约合作</li>
          <li>2009年，荣获第十六届全球华人广告金犊奖</li>
        </ul>
      </div>
      <div class="inner_news3 fl">
        <p>上海出未创意设计事务所是以创意为主导的策略型品牌商业设计机构。我们坚持为成长中的优秀企业创造具有特属差异化的品牌设计。</p>
        <p>出未创意专长于品牌设计、品牌策划、包装设计、产品外观设计、商业空间设计、网站开发设计、房地产整合营销、公关活动，产品招商等相关策划设计服务。我们极具对全球商业创新有效信息的敏锐捕捉、转化，多维度整合传播及高效执行服务能力。</p>
				<p>
					我们不是一家大集团、大公司，但我们的作业水准可媲美一线城市大公司。
					我们虽小，但可以更灵活的服务大集团甚至500强企业，最主要的是我们具有高性价比的服务质量。
				</p>
      </div>
			<div class="qr_code fl">
				<p><img src="/assets/rq_code.png" width="150px"/></p>
				<p style="padding-left:5px">更多精彩内容请关注我们</p>
			</div>
    </div>
  </div>
</div>
<div class="cl h25"></div>
