<%= content_for :head do %>
<link rel="stylesheet" type="text/css" href="/assets/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/base.css">
<link rel="stylesheet" type="text/css" href="/assets/global.css">
<link rel="stylesheet" type="text/css" href="/assets/index.css">
<script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/chuantong.js"></script>
<% end %>
<div id="banner">
  <div id="chuantong">
    <ul class="tuul">
      <li><a href="#"><img src="/assets/banner_01.png" /></a></li>
      <li><a href="#"><img src="/assets/banner_1.png" /></a></li>
      <li><a href="#"><img src="/assets/banner_2.png" /></a></li>
      <li><a href="#"><img src="/assets/banner_3.png" /></a></li>
    </ul>
    <div class="anniu">
      <span class="leftbut"></span>
      <span class="rightbut"></span>
    </div>
    <ul class="dianul">
      <li class="cur"></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<!-- 轮播 -->
<script type="text/javascript">
  chuantong(3000,400,1024);
</script>
<!-- 轮播结束 -->
<div class="cl h25"></div>
<!-- 内容 -->
<div class="bx">
  <div id="content">
    <div class="content_top">
      <ul>
        <li >
          
          
          <h4 class="h4_1">LOGO设计</h4>
          
        </li>
        <li class="top_1">
          
          <h4 class="h4_2">包装设计</h4>
          
        </li>
        <li>
          
          
          <h4 class="h4_3">品牌推广</h4>
          
          
        </li>
        <li class="top_1">
          
          
          <h4 class="h4_4">商业空间</h4>
          
          
        </li>
        <li>
          
          
          <h4 class="h4_5">房地产整合</h4>
          
          
        </li>
        <li class="top_2">
          
          <h4 class="h4_6">活动与招商</h4>
          
          
        </li>
      </ul>
    </div>
    <div class="cl h37"></div>
    <div class="inner">
      <div class="inner_news fl">
        <a href="">>>天地人最新新闻</a>
        <ul>
          <li>2013年，天地人品牌设计为上海武峰吊顶全案品牌服务</li>
          <li>2013年，天地人品牌设计为宏标御安府做全案房地产整合</li>
          <li>2011年，天地人品牌设计与苏州馨可丽家居品牌合作</li>
          <li>2010年，天地人品牌设计与太原恒大地产签约合作</li>
          <li>2009年，荣获第十六届全球华人广告金犊奖</li>
        </ul>
      </div>
      <div class="inner_news2 fl">
        <ul>
          <li class="npt">
            <h3>天&nbsp;地&nbsp;人&nbsp;品 牌&nbsp;设&nbsp;计&nbsp;机&nbsp;构</h3>
            <span>Visual&nbsp;&nbsp;&nbsp;&nbsp;Consultants</span>
            <span class="span1"></span>
          </li>
          <li>
            <h3>天&nbsp;地&nbsp;人&nbsp;地&nbsp;产&nbsp;整&nbsp;合&nbsp;传&nbsp;播&nbsp;机&nbsp;构</h3>
            <span>Real&nbsp;estate&nbsp;integrated&nbsp;design</span>
            <span class="span1"></span>
          </li>
          <li>
            <h3>天&nbsp;地&nbsp;人&nbsp;商&nbsp;业&nbsp;空&nbsp;间&nbsp;设&nbsp;计&nbsp;机&nbsp;构</h3>
            <span>Commercial space design</span>
          </li>
        </ul>
      </div>
      <div class="inner_news3 fl">
        <p>天地人品牌设计机构是以创意为主导的策略型品牌商业设计机构。我们坚持为成长中的优秀企业创造具有特属差异化的品牌设计。
					天地人传播专长于品牌重塑、市场公关营销、品牌设计、产品及包装设计、商业空间设计、房地产整合传播。</p>
        <p>我们极具对全球商业创新有效信息的敏锐捕捉、转化，多维度整合传播及高效执行服务能力。
					我们不是一家大公司，但我们的作业水准媲美一线城市大公司。我们虽小，但可以更灵活的服务大集团甚至500强企业，最主要的是我们具有高性价比的服务质量。</p>
      </div>
    </div>
  </div>
</div>
<div class="cl h25"></div>
