# coding: utf-8
<%= content_for :head do %>
<%= stylesheet_link_tag    'reset', 'base', 'global', 'Contact_us', media: 'all',
     'data-turbolinks-track' => true %>
<script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<% end %>
<div class="bx">
  <div id="content">
   	<div class="contact fl">
   	 	<div class="img fl"></div>
   	 	<div class="address fl">
   	 	 	<p>地址：中国·上海·闵行区·浦涛路768弄25号704</p>
   	 	 	<p>手机：156-0187-8272</p>
				<p>电话：021-60448799</p>
   	 	 	<p>邮箱：1027392818@qq.com</p>
        <p>QQ：1027392818</p>
        <p>网址：<a href="http://www.ad-88.com" target="_blank">www.ad-88.com</a></p>
      </div>
    </div>
    <div class="fl Contact_Us">
      <h5>Contact Us</h5>
      <form name="contact" method="post" action="contact">
        <div>姓名<input type="text" name="name"></div>
        <div>电话<input type="text" name="phone"></div>
        <div>邮箱<input type="text" name="email"></div>
        <div>主题<input type="text" name="subject"></div>
        <textarea class="ly" clols="275" rows="97" name="content"></textarea>
        <br>
        <input class="button" type="submit" value="提交" >
   	</div>
  </div>
</div>
</form>
<p>
  <% if @contact.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %>
        prohibited the information from being saved:</h2>
        <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  </p>
<div class="cl h315"></div>
