# coding: utf-8
<%= content_for :head do %>
<link rel="stylesheet" type="text/css" href="/assets/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/base.css">
<link rel="stylesheet" type="text/css" href="/assets/global.css">
<link rel="stylesheet" type="text/css" href="/assets/list.css">
<link rel="stylesheet" type="text/css" href="/assets/mode.css">
<% end %>
<div id="content">
  <div class="bx">
   	<div class="content_nav">
   	 	<ul class="fl">
   	 		<li><a href="/about_us">关于我们</a></li>
   	 		<li class="no1"><a href="/service_mode">服务模式</a></li>
   	 		<li><a href="/cooperate">合作方式</a></li>
   	 		<li><a href="/team">作业团队</a></li>
   	 	</ul> 
   	 	<span class="fk fr">
   	 	</span>
   	</div>
   	<div class="mode">
   	 	<h3>服务理念 / Service mode</h3>
   	 	<!-- <img src="/assets/xy.png" alt=""> -->
   	</div>
   	<div class="mode_bottom">
   	 	<h3>服务模式 / Service mode</h3>
   	 	<div class="mode_inner">
   	 		<h3>1.品牌策略</h3>
   	 		<p>我们的品牌策略服务包括研究和分析消费者的购物行为、新兴市场趋势及行业竞争格局等。 对准重点消费者的洞察和市场机会的识别作为随后的品牌设计创意和创新的跳板。</p>
   	 		<ul>
   	 			<li>品牌资产分析与定位</li>
   	 			<li>品牌区隔及目标定义</li>
   	 			<li>消费者焦点访谈 </li>
   	 			<li>品牌接触点分析 </li>
   	 			<li>品牌视觉识别系统</li>
   	 			<li>品牌识别策略开发</li>
   	 		</ul>
   	 	</div>
   	 	<div class="mode_inner">
   	 		<h3>2.品牌设计</h3>
   	 		<p class="p2">&nbsp;&nbsp;&nbsp;&nbsp;以品牌视觉图形的情感力量吸引、鼓舞并刺激购买，是我们品牌设计战略的核心要素。从店外门头标牌到店内的一个识别指标架，无不触发品牌识别，强化品牌记忆，促进品牌识别的每个微小细节都被细致筹划雕琢。</p>
   	 		<ul>
   	 			<li>品牌命名</li>
   	 			<li>标志设计</li>
   	 			<li>品牌VI设计系统 </li>
   	 			<li>品牌形象广告创意 </li>
   	 			<li>品牌网站规划 </li>
   	 			<li>商品包装设计</li>
   	 			<li>品牌形象画册</li>
   	 			<li>招商工具包设计</li>
   	 		</ul>
   	 	</div>
   	 	<div class="mode_inner">
   	 		<h3>3.商业空间</h3>
   	 		<p class="p3">成功的品牌环境会充分利用品牌文化影响顾客的购买行为。我们的建筑、室内和平面设计专家团队具有丰富经验协助您拓展强大的品牌愿景。从原型店到复制展店，我们的服务是您高利润和成功购物体验的保证。</p>
   	 		<ul>
   	 			<li>店外建筑设计</li>
   	 			<li>专卖店SI设计系统</li>
   	 			<li>展销空间规划 </li>
   	 			<li>陈列规划及道具设计 </li>
   	 			<li>橱窗设计</li>
   	 			<li>连锁系统原型店设计</li>
   	 		</ul>
   	 	</div>
   	</div>
  </div>
</div>
<div class="cl h86"></div>
