<%= content_for :head do %>
<link rel="stylesheet" type="text/css" href="/assets/reset.css">
<link rel="stylesheet" type="text/css" href="/assets/base.css">
<link rel="stylesheet" type="text/css" href="/assets/global.css">
<link rel="stylesheet" type="text/css" href="/assets/list.css">
<link rel="stylesheet" type="text/css" href="/assets/Team.css">
<% end %>
<div id="content">
  <div class="bx">
   	<div class="content_nav">
   	 	<ul class="fl">
   	 		<li><a href="">关于我们</a></li>
   	 		<li><a href="">服务模式</a></li>
   	 		<li><a href="">包装设计</a></li>
   	 		<li><a href="">合作方式</a></li>
   	 		<li class="no1"><a href="">作业团队</a></li>
   	 	</ul> 
   	 	<span class="fk fr">
   	 	</span>
   	</div>
   	<div class="Team">
   	 	<h3 class="fl">天地人团队</h3>
   	 	<p lcass="fl">通过对一线城市全球视野的多年深耕，我们身边逐渐会聚了一批深有卓识、眼界开阔、思维创新、经验丰富的创意设计人才。他们有来自4A公司的创意高手、有来自一线品牌咨询公司的策略大拿、有来自知名商业设计公司的神级设计师。我们热忱满怀设计未来。</p>
   	 	<ul class="Introduction">
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw1.png" alt="">
   	 			</div>
   	 			<span class="xm">郭冬根</span><br>
   	 			<span>上海天地人品牌设计机构</span><br>
   	 			<span>设计总监</span>
   	 		</li>
   	 		
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw2.png" alt="">
   	 			</div>
   	 			<span class="xm">农均雄</span><br>
   	 			<span>上海天地人品牌设计机构</span><br>
   	 			<span>策划总监</span>
   	 		</li>
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw3.png" alt="">
   	 			</div>
   	 			<span class="xm">李  康</span><br>
   	 			<span>上海天地人品牌设计机构</span><br>
   	 			<span>商业空间设计总监</span>
   	 		</li>
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw4.png" alt="">
   	 			</div>
   	 			<span class="xm">肖小娟</span><br>
   	 			<span>上海天地人品牌设计机构</span><br>
   	 			<span>客户经理</span>
   	 		</li>
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw5.png" alt="">
   	 			</div>
   	 			<span class="xm">文  波</span><br>
   	 			<span>上海天地人品牌设计机构</span><br>
   	 			<span>技术支持</span>
   	 		</li>
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw6.png" alt="">
   	 			</div>
   	 			<span class="xm">杨  宾</span><br>
   	 			<span>上海天地人品牌设计机构</span><br>
   	 			<span>项目经理</span>
   	 		</li>
   	 	</ul>
   	</div>
  </div>
</div>
<div class="cl h239"></div>
