# coding: utf-8
<%= content_for :head do %>
<%= stylesheet_link_tag    'reset', 'base', 'global', 'list', 'Team', media: 'all',
     'data-turbolinks-track' => true %>
<script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<% end %>
<div id="content">
  <div class="bx">
   	<div class="content_nav">
   	 	<ul class="fl">
   	 		<li><a href="/about_us">关于我们</a></li>
   	 		<li><a href="/service_mode">服务内容</a></li>
   	 		<li><a href="/cooperate">合作方式</a></li>
   	 		<li class="no1"><a href="/team">作业团队</a></li>
   	 	</ul>
   	 	<span class="fk fr">
   	 	</span>
   	</div>
   	<div class="Team">
   	 	<h3 class="fl">出未团队</h3>
   	 	<p lcass="fl">通过对一线城市全球视野的多年深耕，我们身边逐渐会聚了一批深有卓识、眼界开阔、思维创新、经验丰富的创意设计人才。他们有来自4A公司的创意高手、有来自一线品牌咨询公司的策略大拿、有来自知名商业设计公司的神级设计师。我们热忱满怀设计未来。</p>
   	 	<ul class="Introduction">
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw1.png" alt="">
   	 			</div>
   	 			<span class="xm">天云</span><br>
   	 			<span>上海出未创意设计机构</span><br>
   	 			<span>设计总监</span>
   	 		</li>

   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw2.png" alt="">
   	 			</div>
   	 			<span class="xm">农小唐</span><br>
   	 			<span>上海出未创意设计机构</span><br>
   	 			<span>策划总监</span>
   	 		</li>
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw3.png" alt="">
   	 			</div>
   	 			<span class="xm">克文</span><br>
   	 			<span>上海出未创意设计机构</span><br>
   	 			<span>商业空间设计总监</span>
   	 		</li>
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw4.png" alt="">
   	 			</div>
   	 			<span class="xm">肖小娟</span><br>
   	 			<span>上海出未创意设计机构</span><br>
   	 			<span>客户经理</span>
   	 		</li>
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw5.png" alt="">
   	 			</div>
   	 			<span class="xm">文  波</span><br>
   	 			<span>上海出未创意设计机构</span><br>
   	 			<span>技术支持</span>
   	 		</li>
   	 		<li>
   	 			<div class="img_bj">
   	 				<img src="/assets/rw6.png" alt="">
   	 			</div>
   	 			<span class="xm">杨小宾</span><br>
   	 			<span>上海出未创意设计机构</span><br>
   	 			<span>项目经理</span>
   	 		</li>
   	 	</ul>
   	</div>
  </div>
</div>
<div class="cl h239"></div>
