<div id="content" class="span10">
	<div class="row-fluid sortable ui-sortable">
		<div class="box span12">
			<div class="box-header well" data-original-title="">
				<h2><i class="icon-edit"></i> 创建新的案例分类</h2>
				<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
				</div>
			</div>
			<div class="box-content">
				<%= form_tag admin_project_categories_path, :method => :post, :multipart =>true, :class =>'form-horizontal' do %>
        <fieldset>
          <legend></legend>
          <div class="control-group">
            <label class="control-label" for="cbrand_name">案例分类名称</label>
            <div class="controls">
              <input type="text" class="span6 typeahead" id="cbrand_name" name="project_category[name]" data-required="true" data-error-message="名称不能为空!" />
            </div>
          </div>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary" id="project_create_btn">新建</button>
          </div>
        </fieldset>
				<% end %>

			</div>
		</div><!--/span-->

	</div>
</div>
<script type="text/javascript" src="/js/my97DatePicker/WdatePicker.js"></script>
<!--<script type="text/javascript" src="/js/parsley/i18n/messages.zh-cn.js"></script>-->
<script type="text/javascript" src="/js/parsley/parsley.min.js"></script>
<script type="text/javascript" src="/js/parsley/parsley.extend.js"></script>


<script type="text/javascript">
  $(function (){
  $('#project_create_btn').click(function (){
  $('form').parsley('validate');
  });

  });
</script>
