.cooperate{
	padding-left: 107px;
	padding-top: 38px;
}
.cooperate h3{
	font-size: 18px;
	color: #221814;
	line-height: 21px;
	padding-bottom: 24px;
}
.cooperate span{
	font-size: 18px;
	line-height: 21px;
	color: #221814;
}
.cooperate p{
	font-size: 12px;
	line-height: 21px;
	color: #221814;
	margin-bottom: 26px;
}
.service_bottom{
	width: 725px;
	height: 385px;
	background: url(/assets/cooperate.png)no-repeat left top;
	position: relative;
}
.service_bottom dl dt {
	font-size: 16px;
	color: #231815;
	line-height: 25px;
	padding-bottom: 5px;
}
.service_bottom dl  dd a{
  font-size: 14px;
  line-height: 21px;
  color: #231815;
  padding-top: 6px;
  text-decoration: none;
}
.service_bottom dl{
	position: absolute;
	top: 11px;
	left: 41px;
}
.service_bottom dl.bottom_2{
	top: 19px;
	left: 260px;
}
.service_bottom dl.bottom_3{
	top: 30px;
	left: 476px;
}
.service_bottom dl.bottom_4{
	top: 15px;
	left: 641px;
}
.service_bottom dl.bottom_5{
	top: 230px;
	left: 197px;
}
.service_bottom dl.bottom_6{
	top: 230px;
	left:425px;
}
.service_bottom dl.bottom_7{
	top: 230px;
	left:613px;
}